/* **************************** */

.hover-text {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    right: 60px;
    top: 30px;
    z-index: 1;
    font-style: italic;
    font-size: smaller;
    text-align: center;
}

.activity-button:hover .hover-text {
    visibility: visible;
}


/* for button home page */

.hover-text-pre-btn {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    right: 60px;
    top: 10px;
    z-index: 1;
    font-style: italic;
    font-size: smaller;
    text-align: center;
}

#page-control-previous:hover .hover-text-pre-btn {
    visibility: visible;
}

.hover-text-next-btn {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    left: 15px;
    bottom: 50px;
    /* top: 10px; */
    z-index: 1;
    font-style: italic;
    font-size: smaller;
    text-align: center;
}

#page-control-next:hover .hover-text-next-btn {
    visibility: visible;
}