.message p {
    background: #1ea2c4;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    border-color: #1ea2c4;
    border-style: solid;
    border-width: 0.5px;
    box-shadow: 2px 2px #13819c;
}

.message.self p {
    color: black;
    background: white;
    border-radius: 5px;
    border-color: lightgrey;
    border-style: solid;
    border-width: 0.5px;
}

.card.chatCard.active h1 {
    /* background-color: #1ea2c4;
    padding: 30px;
    color: white;
    border-top-left-radius: 15px;
    text-align: center; */
}

.card.chatCard.active {
    background-color: #f0f0f0;
}

.header-card {
    background-color: #1ea2c4;
    padding: 30px;
    color: white;
    border-top-left-radius: 15px;
}

.header-card h1 {
    text-align: center;
    color: white;
}