/* .card.gallery h1 {
    margin-top: 2%;
    margin-left: 10%;
}

.group-gallery-header-card {
    padding-top: 0.5%;
    color: white;
    border-top-left-radius: 15px;
    margin-left: 50%;
}

.group-gallery-header-card h3 {
    text-align: center;
    padding-bottom: 5%;
} */