/* source: https://css-tricks.com/css-only-carousel/ */
/* https://css-tricks.com/custom-scrollbars-in-webkit/ */
* {
  box-sizing: border-box;
}

.slider {

  text-align: center;
  overflow: hidden;

}


/* > targets elements which are DIRECT children of a particular element. */

/* .slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 450px;
  height: 320px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
} */

.slider img {
  object-fit: cover;
  max-width: 450px;
  height: 230px;

}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0.5rem 0 0.5rem 0;
  position: relative;
}

.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}

.slider a.slider-image-selected{
    background-color: rgb(165, 168, 166);
}

/* the following css is used both in individual.html and activityfeed.html */
.card-message-input {
    overflow: hidden;
    position: absolute; /* was fixed before parent (i.e., .card element is fixed) */
    border-radius: 15px;
    width: 95%;
    bottom: 0%;
    left: 0;
    height: 55px;
    margin-left: 10px;
    /* padding: 12px 10px 14px 9px; */
    /* right: 14px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); */
}

    .card-message-input input {

        margin: 0px 0px 10px 0px;
        /* height: 120%; */
        border: none;
        border-radius: 20px;
        width: 100%;
        padding-left: 10px;
        outline: none; 
        font-family: Tahoma, sans-serif;
        padding: 15px;
        border-radius: 10px;

    }

    .card-message-input a {
        position: absolute;
        top: 0px;
        right: 0px;
        display: inline-block;
        height: 50px;
        width: 50px;
        background: url('/static/pics/plane.png') no-repeat;
        background-size: 40px 40px;
        background-position: 3px 6px;
    }


/* The Modal (background) */
.teacher-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 200%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.teacher-modal-content {
  margin-left: 5%;
  display: block;
  width: 90%;
  height: auto;
  max-width: 700px;
  border: 1px solid red;
}


/* Add Animation */
.teacher-modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.teacher-close {
  position: absolute;
  top: 50px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.teacher-close:hover,
.teacher-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .teacher-modal-content {
    width: 100%;
  }
}



