.upload-failure-msg {
    padding: 5px 20px 0px;
    text-align: center;
    color: rgb(235, 220, 220);
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #db2c0d;
    opacity: 1;
    transition: opacity 0.6s;
    width: 400px;
    position: absolute;
    top: 25rem;
    left: 18%;
    color: black;
}

.upload-failure-msg p {
    color: black;
}

.upload-failure-msg-closebtn {
    margin-left: 15px;
    color: rgb(228, 210, 210);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.upload-failure-msg-closebtn:hover {
    color: white;
}

#ka-submit {
    background: #1ea2c4;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 290px;
    border-color: #1ea2c4;
    width: 20%;
    font-size: 17px;
    transition-duration: 0.2s;
    margin-top: 10%;
}

#ka-submit:hover {
    background: #0b6b83;
}

#ka-upload-img-form label.btn {
    background: #159be8;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 220px;
}

#ka-upload-img-form label.btn:hover {
    background: #0570ad;
}

.ka-prompt-div {
    position: fixed;
    top: 25%;
    left: 15%;
    height: 25em;
    width: 30em;
    background-color: green;
    border-radius: 15px;
}

.ka-prompt-div-header img {
    height: 55px;
    width: 55px;
    margin-top: 15px;
}

.ka-prompt-div-header h2 {
    color: white;
}

.ka-reward-closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
    color: black;
    z-index: 2;
}

.ka-prompt-div-header {
    position: fixed;
    top: 25%;
    left: 15%;
    height: 8em;
    width: 30em;
    background-color: green;
    text-align: center;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.ka-prompt-div-prompt {
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 135px;
    width: 30em;
    background-color: white;
    text-align: center;
}

#ka-prompt-text {
    margin-top: 15px;
}

.ka-prompt-div-tips {
    position: absolute;
    margin-top: 205px;
    padding-bottom: 30px;
    width: 30em;
    text-align: center;
    color: black;
    background-color: #D7DBDD;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#ka-so-copy {
    display: block;
    width: 115px;
    height: 35px;
    background: green;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    margin-left: 10.5em;
    margin-top: 3em;
}

#ka-so-copy:hover {
    background-color: rgb(3, 77, 3);
}

.ka-prompt-button {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 120px;
    height: 35px;
    width: 35px;
    background: url(/static/pics/help.png) no-repeat;
    background-size: 100%;
    z-index: 2;
}