.personalityProfiles {
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
    transition: 0.1s;
    border-radius: 20px;
}

.profile_btn {
    transition-duration: 0.1s;
    background-color: white;
    border-radius: 10px;
    font-size: 16px;
}




/* editPersonalityOptionBtn */

#editPersonalityOptionBtn:hover {
    background-color: #add8e6;
    color: white;
    cursor: pointer;
    font-size: 20px;
    border: 5px solid white;
}


/* changePersonalityBtn */

#changePersonalityBtn:hover {
    background-color: #add8e6;
    color: white;
    cursor: pointer;
    font-size: 20px;
    border: 5px solid white;
}

.profile.container {
    background-color: white;
    border-radius: 20px;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: black;
    text-align: justify;
}

.dropdown_btn {
    background-color: white;
    color: blue;
    padding: 13px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.dropdown_btn:hover,
.dropdown_btn:focus {
    background-color: #a1ddec;
}

#matchedPersonality_div{
    display: inline-block;
}

/* persona image */

.persona_img {
    width: 100%;
    margin-left: 15%
}


.persona_name {
    margin-left: 17%
}



#matchedPersonality_wrapper{
    width: 100%;
}

.persona-narrative{
    width: 80%;
    display: inline-block;


}

.persona-image{
    width: 19%;
    display: inline-block;

}

#editPersonality_div{
   display: inline-block;
}

.personaLikertScale_div {
    border: 1px solid black;
}

