.personalityProfiles {
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
    transition: 0.1s;
    border-radius: 20px;
}

.profile_btn {
    transition-duration: 0.1s;
    background-color: white;
    border-radius: 10px;
    font-size: 16px;
}

#getInitPersonality:hover {
    background-color: #add8e6;
    color: white;
    cursor: pointer;
    font-size: 17px;
    border: 5px solid white;
}


/* editPersonalityOptionBtn */

#editPersonalityOptionBtn:hover {
    background-color: #add8e6;
    color: white;
    cursor: pointer;
    font-size: 20px;
    border: 5px solid white;
}


/* changePersonalityBtn */

#changePersonalityBtn:hover {
    background-color: #add8e6;
    color: white;
    cursor: pointer;
    font-size: 20px;
    border: 5px solid white;
}

.profile.container {
    background-color: white;
    border-radius: 20px;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: black;
    text-align: justify;
}

.dropdown_btn {
    background-color: white;
    color: blue;
    padding: 13px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}


/* #dropdown-con {
    width: 40%;
} */


/* #dropdown-hsc {
    width: 40%;
} */

.dropdown_btn:hover,
.dropdown_btn:focus {
    background-color: #a1ddec;
}


/* //image */

.person_img {
    position: relative;
    top: 70%;
    left: 20%;
}


/* for device >= 600px */

@media only screen and (max-width: 600px) {
    #page-controls #page-control-previous {
        left: 150px;
    }
    /* //add 45px */
    #page-controls #page-control-next {
        left: 195px;
    }
}

@media only screen and (max-width: 900px) {
    #page-controls #page-control-previous {
        left: 250px;
    }
    /* //add 45px */
    #page-controls #page-control-next {
        left: 295px;
    }
}

@media only screen and (min-width: 900px) {
    #page-controls #page-control-previous {
        left: 350px;
    }
    /* //add 45px */
    #page-controls #page-control-next {
        left: 395px;
    }
}

@media only screen and (min-width: 1100px) {
    #page-controls #page-control-previous {
        left: 450px;
    }
    /* //add 45px */
    #page-controls #page-control-next {
        left: 495px;
    }
}

@media only screen and (min-width: 1300px) {
    #page-controls #page-control-previous {
        left: 510px;
    }
    /* //add 45px */
    #page-controls #page-control-next {
        left: 555px;
    }
}

@media only screen and (min-width: 1400px) {
    #page-controls #page-control-previous {
        left: 600px;
    }
    /* //add 45px */
    #page-controls #page-control-next {
        left: 645px;
    }
}

@media only screen and (min-width: 1500px) {
    #page-controls #page-control-previous {
        left: 650px;
    }
    /* //add 45px */
    #page-controls #page-control-next {
        left: 695px;
    }
}

@media only screen and (min-width: 1700px) {
    #page-controls #page-control-previous {
        left: 800px;
    }
    /* //add 45px */
    #page-controls #page-control-next {
        left: 845px;
    }
}