.profile_btn {}

.edit_btn {
    background: rgb(195, 243, 243);
    color: #042c36;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    font-size: 12px;
    transition-duration: 0.2s;
    height: 20px;
    box-shadow: 2px 2px #595d5e;
    margin-bottom: 3%;
}

.edit_btn:hover {
    background: rgb(41, 126, 126);
    color: #fff;
}

#editPersonalityOptionBtnYes {
    background: #095e74;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border-color: #1ea2c4;
    width: 25%;
    font-size: 17px;
    transition-duration: 0.2s;
    height: 45px;
    box-shadow: 2px 2px black;
    margin-left: 30%;
}

#editPersonalityOptionBtnYes:hover {
    background: #fff;
    color: black;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#editPersonalityOptionBtnNo {
    background: #fff;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    width: 30%;
    font-size: 17px;
    transition-duration: 0.2s;
    height: 45px;
    vertical-align: middle;
    box-shadow: 2px 2px #595d5e;
    margin-left: 5%;
}

#editPersonalityOptionBtnNo:hover {
    background: #dfe1e2;
}

#changePersonalityBtn {
    background: #095e74;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    width: 40%;
    font-size: 17px;
    transition-duration: 0.2s;
    height: 45px;
    vertical-align: middle;
    box-shadow: 2px 2px #595d5e;
    margin-left: 30%;
}


/* changePersonalityBtn */

#changePersonalityBtn:hover {
    background-color: #e9ecef;
    color: rgb(8, 69, 119);
    cursor: pointer;
}

.dropdown_btn {
    background-color: white;
    color: blue;
    padding: 13px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.dropdown_btn:hover,
.dropdown_btn:focus {
    background-color: #e9ecef;
}

#matchedPersonality_div {
    display: inline-block;
}


/* persona image */

.persona_img {
    width: 100%;
    margin-left: 15%
}

.persona_name {
    margin-left: 50%
}

#matchedPersonality_wrapper {
    width: 100%;
}

.persona-narrative {
    width: 70%;
    display: inline-block;
    padding-top: 7.05%;
}

#matchedPersonality {
    padding-top: 9px;
}

.persona-image {
    width: 19%;
    display: inline-block;
    position: fixed;
    top: 25%;
    margin-left: 3%;
}

#editPersonality_div {
    display: inline-block;
}

.personaLikertScale_div {
    /*border: 1px solid black;*/
    width: 100%;
    text-align: center;
    margin-top: 4%;
    background-color: #bcedfa;
    padding-top: 2px;
    margin-left: 10%;
    box-shadow: 0 6px 10px 0 rgb(0 0 0 / 20%);
    border-radius: 15px;
}


/* for the radio button */

.personality_radio {
    width: 30px;
    height: 30px;
    transition: all 0.25s linear;
    cursor: pointer;
}

.chat_prompt_p {
    margin-top: 1%;
    text-align: center;
    margin-bottom: 2%;
}

/* --------------------------------

START

-------------------------------- */


/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.img-replace {
  /* replace text with an image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}




/* --------------------------------

modified from: https://codepen.io/adventuresinmissions/pen/nrhHF

-------------------------------- */
.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 15em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.cd-popup-container p {
  padding: 2em 1em;
}

.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.cd-popup-container .cd-buttons li {
  float: left;
  width: 30%;
  margin-left: 30%;
  margin-bottom: 5%;
  list-style: none;
}
.cd-popup-container .cd-buttons a {
  display: block;
  height: 55px;
  line-height: 60px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons li:first-child a {
  background: #fc7169;
  border-radius: 0 0 0 .25em;
}

.cd-popup-container .cd-buttons li:first-child a:hover {
  background-color: #fc8982;
}


.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}