{% load static %}
<h1>Gallery Name</h1>

<div class="group-gallery-header-card">
    <h3>Group Chat</h3>
</div>
<!-- <h3>Group Chat</h3> -->
<p id="gallery-description" class="cardDescription"> Discuss about the images as a group. </p>
<div id="gallery-view">

    <div id="single-image-view" class="gallery-panel">
        <div class="verticalDivider">
            <div id="row-left">


                <!--                <div class="gallery-userlist">-->
                <!--                    <div class="gallery-group-user">-->
                <!--                        <img  src="{% static 'pics/group-members.png' %}" alt="">-->
                <!--                        <span> 4 </span>-->
                <!--                    </div>-->
                <!--                    <div class="gallery-group-members" style="display:block">-->
                <!--                        <ul>-->
                <!--                            <li id="gallery-member-1">X</li>-->
                <!--                            <li id="gallery-member-2">Y</li>-->
                <!--                            <li id="gallery-member-3">Z</li>-->
                <!--                            <li id="gallery-member-4">A</li>-->
                <!--                            <li id="gallery-member-5">B</li>-->
                <!--                            <li id="gallery-member-6">C</li>-->
                <!--                        </ul>-->
                <!--                    </div>-->
                <!--                </div>-->



                <!--functionality defined in gallery.js; css defined in digTextBook.less-->
                <div class="section">

                    <!--                    <a href="" class="previous-image"></a>-->
                    <!--                    <a href="" class="next-image"></a>-->
                    <div class="container">
                        <!-- <img id = "gallery_image" src="{% static 'pics/default.png' %}" alt=""> -->
                        <img src="{% static 'pics/default.png' %}" alt="">

                        <!--                        <span> Image upload by </span>-->
                    </div>
                    <!--<a href="#" class="gallery_image_user_name">here i am</a>-->
                    <input type="hidden" name="image-index" value="" />
                    <input type="hidden" name="image-db-pk" value="" />
                    <!--<div class = "posted_by_image"></div>-->
                </div>



            </div>



            <div id="row-right">



                <!--                <ul id="image-feed" class="feed" style="margin-top: 25px;margin-bottom:100px">-->
                <ul id="image-feed" class="feed">
                </ul>


                <div class="message-input">
                    <input type="text" id="image-msg-text" name="image-msg-text" placeholder="Comment on this picture">
                    <input type="hidden" name="username" value={{ user.get_username }}>
                    <a href="" id="image-msg-send-btn"></a>
                </div>
            </div>


            <!--            badge given to the students-->
            <div id="gallery-reward" class="reward-div" style="display:none">
                <a href="javascript:void(0)" class="gallery-reward-closebtn">&times;</a>
                <p id="reward-div-selection"> You earned the [badge_name] badge! </p>
                <img src="{% static 'pics/blank.png' %}" alt="">
                <p id="reward-div-prompt"> sample praise message example, send from server </p>
            </div>

            <!--            prompt shown to the students-->
            <div id="gallery-prompt" class="gallery-prompt-div">
                <a href="javascript:void(0)" class="gallery-reward-closebtn">&times;</a>
                <div class="gallery-prompt-div-header">
                    <img src="{% static 'pics/help.png' %}" alt="">
                    <h2>How Can I earn a Badge?</h2>
                </div>
                <!-- <div class="gallery-prompt-div-prompt">
                </div> -->
                <div class="gallery-prompt-div-tips">
                    <p id="gallery-prompt-text" class="gallery-text"> Example prompt text. </p>
                    <p>Copy the phrase, and fill in the rest in the textbox.</p>
                    <p id="gallery-prompt-so"> What do you mean by ... ?</p>
                    <a id="gallery-so-copy"> Copy </a>
                </div>
            </div>


            <div class="gallery-copy-success-msg" style="display:none">
                <!-- <span class="gallery-copy-success-msg-closebtn">&times;</span> -->

                <p id="upload-success-msg-p" style="margin-bottom:1%; margin-top: 15%;">
                    <strong>The text has been copied!</strong>
                </p>
            </div>

        </div>
    </div>

</div>