{% load static %}

<body>

    <h1 id="discussion-header"> Khan Academy Discussion </h1>

    <div id="ka-container">

        <div id="ka-header-description">
            <p>
                Listen to the video, and make a post using the form below.
            </p>
        </div>

        <div id="ka-user-options">
            <p>Are you answering a question or posting a question on the Khan Academy page? </p>
            <form class="ka-form">
                <input class="ka-radio" type="radio" name="ka-response-type" value="answer a question"> <Strong>Answer</Strong> a Question<br>
                <input class="ka-radio" type="radio" name="ka-response-type" value="post a question"> <Strong>Post</Strong> a Question<br>
            </form>
        </div>

        <!--        if a student selects answer, display this div-->
        <div id="ka-img-upload">
            <div id="default_ka_img_div" style="display:none">
                <img id="default_ka_img" src="{% static 'pics/default.png' %}" alt="" style="height:300px;width:450px">
            </div>

            <form id="ka-upload-img-form" enctype="multipart/form-data" method="post" action="">
                <label for="ka_img_upload" class="btn">Upload a file</label>
                <input type="file" id="ka_img_upload" name="ka_img_name" class="btn" />
                <input type="hidden" name="ka-act-id" value="" />
            </form>
        </div>

        <div id="ka-user-response-div">
            <p> Write your response below, and hit the submit button when done.</p>
            <textarea id="KAAnswer" class="user-answer-input" name="KAAnswer" placeholder="Write something.." style="height:180px"></textarea>
            <input id="ka-submit" type="button" value="Submit" class="btn">
        </div>

        


        <div class="upload-success-msg" style="display:none">
            <span class="upload-success-msg-closebtn">&times;</span>
            <p id="upload-success-msg-p">
                <strong>Your selected image was successfully uploaded !</strong>
            </p>
        </div>


        <div class="upload-failure-msg" style="display:none">
            <span class="upload-failure-msg-closebtn">&times;</span>
            <p id="upload-failure-msg-p">
                <strong id = "failure_text">failure uploaded !</strong>
            </p>
        </div>

           <div id="ka-prompt" class="ka-prompt-div" >
                <a href="javascript:void(0)" class="ka-reward-closebtn">&times;</a>
                <div class="ka-prompt-div-header">
                    <img src="{% static 'pics/help.png' %}" alt="">
                    <h2>How Can I earn a Badge?</h2>
                </div>
                 <div class="ka-prompt-div-prompt">
                     <p id="ka-prompt-text" class="ka"> Example prompt text. </p>
                </div>
                <div class="ka-prompt-div-tips">
                    <p>Copy the phrase, and edit the rest.</p>
                    <p id="ka-prompt-so"> What do you mean by ... ?</p>
                    <a id="ka-so-copy"> Copy </a>
                </div>
             </div>

    </div>


</body>