<h1>Profile Page</h1>

<div id="matchedPersonality_div">

    <div class="persona-narrative">
         <p>Based on your answers you closely match with <span class="namePersonality"><strong><i>Name</i></strong></span>.
         <p id="matchedPersonality">
            <span class="namePersonality"><strong><i>Name</i></strong></span> is a student in 8th Grade math class. They think that they are <span class="personality-msc">msc text</span>. Of course, they work with other people on math in a lot of different
            settings, <span class="personality-hsc">hsc text </span>. When it comes to working on activities for class and other things, <span class="personality-con"> con text</span>. Sometimes, that depends on who they are working with. However, honestly
            <span class="personality-fam"> fam text </span>. But, overall that’s their math life!
        </p>

        <p id="editPersonality" style="display:none">
            <span class="namePersonality" id="namePersonality"><strong><i>X</i></strong></span> is a student in 8th Grade math class. They think that they are 1.

            <select id="dropdown-msc" class="dropdown_btn" name="dropdown-msc">
              <option value="not that great at math">not that great at math</option>
              <option value="pretty great at math">pretty great at math</option>
            </select>. Of course, they work with other people on math in a lot of different settings 2.

            <select id="dropdown-hsc" class="dropdown_btn" name="dropdown-hsc">
              <option value="but they do not feel like they are very good at giving help to others" >but they do not feel like they are very good at giving help to others</option>
              <option value="and they think they are pretty good at giving help to others" >and they think they are pretty good at giving help to others</option>
            </select>. When it comes to working on activities for class and other things, 3.

            <select id="dropdown-con" class="dropdown_btn" name="dropdown-con">
                <option value="they do not always participate">they do not always participate</option>
                <option value="they usually do what they are supposed to do">they usually do what they are supposed to do</option>
            </select> Sometimes, that depends on who she is working with. However, honestly 4.

            <select id="dropdown-fam" class="dropdown_btn" name="dropdown-fam">
              <option value="they prefer only working with people they know">they prefer only working with people they know</option>
              <option value="they do not mind working with anybody">they do not mind working with anybody</option>
            </select> But, overall that’s their math life!

            </br>
            </br>

            <!--    #defined in digTextBook.js-->
            <button id="changePersonalityBtn" class="profile_btn" style="margin-left:50%;"> Ok, I'm Done Editing </button>

        </p>




    </div>

    <div class="persona-image">
        <img src="/blank.png" class="persona_img">
        <span class="namePersonality persona_name">Name</span>
    </div>

</div>

<div id="editPersonality_div">

    <div class="personaLikertScale_div">
        <p>Let us know how much this is you!</p>

        <table style="border: none;margin:0 auto;">
            <tbody>
                <tr>
                    <td>Not at all like me</td>
                    <td><input type="radio" value="1" name="personality_radio" class="personality_radio"/></td>
                    <td><input type="radio" value="2" name="personality_radio"
                        class="personality_radio"/></td>
                    <td><input type="radio" value="3" name="personality_radio"
                        class="personality_radio"/></td>
                    <td><input type="radio" value="4" name="personality_radio"
                        class="personality_radio"/></td>
                    <td><input type="radio" value="5" name="personality_radio"
                        class="personality_radio"/></td>
                    <td>Very much like me</td>
                </tr>
            </tbody>
        </table>


    </div>

    <div class="editPersonaBtns">

        <p id="question_edit">Based on your feelings today, would you like to edit any of the choices? </p>

        <button id="editPersonalityOptionBtnYes" class="profile_btn"> Yes, Edit </button>
        <button id="editPersonalityOptionBtnNo" class="profile_btn"> No, I feel the same </button>
    </div>

</div>



