   {% load static %}
<!--    <span id="right-side-menu">&#9776;</span>-->


    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="right-menu-closebtn">&times;</a>

        <a class="showLinkgeneral">Introduction
              <img class="uparrow" src="{% static 'pics/uparrow.png' %}" style="display:none"/>
              <img class="downarrow" src="{% static 'pics/downarrow.png' %}" />
        </a>
        <ul class="side-nav-ul general">
            <li style="list-style-type: none;">
                <a href="#" class="nav" data-pageId="1">Start Here</a>
                <a href="#" class="nav" data-pageId="2">Study/Class Norms</a>
                <a href="#" class="nav" data-pageId="3">Measures</a>
                <a href="#" class="nav" data-pageId="4">Introducing Help-Giving</a>


            </li>
        </ul>

<!--        <a class="nav" data-pageId="1"> Welcome Page </a>-->

        <a class="showLinkweek1">Modelbook Tools
            <img class="uparrow" src="{% static 'pics/uparrow.png' %}" style="display:none"/>
            <img class="downarrow" src="{% static 'pics/downarrow.png' %}" />
        </a>
        <ul class="side-nav-ul week1">
            <li style="list-style-type: none;">
<!--                <a href="#" class="nav" data-pageId="0">Digital Student</a>-->
<!--                <a href="#" class="nav" data-pageId="">Digital Discussion</a>-->
<!--                <a href="#" class="nav" data-pageId="">Khan Academy Assignments</a>-->
                <a href="#" class="nav" data-pageId="">Linear Equation Vocabulary Graphic Organizer
                    <img src="https://static.thenounproject.com/png/2206184-200.png" alt="discuss icon">
                </a>
            </li>
        </ul>


        <a class="showLinkweek2">Perfect Purple Paint
            <img class="uparrow" src="{% static 'pics/uparrow.png' %}" style="display:none"/>
            <img class="downarrow" src="{% static 'pics/downarrow.png' %}" />
        </a>
        <ul class="side-nav-ul week2">
            <li style="list-style-type: none;">
                <a href="#" class="nav" data-pageId="5">Perfect Purple Paint</a>
                <a href="#" class="nav" data-pageId="6">Explain Your Model</a>
                <a href="#" class="nav" data-pageId="7">Refine Your Model</a>
                <a href="#" class="nav" data-pageId="8">Help Cobi</a>
                <a href="#" class="nav" data-pageId="9">Discuss Your Model</a>
                <a href="#" class="nav" data-pageId="10">Create your own Color</a>
                <a href="#" class="nav" data-pageId="11">Paint Splash Whiteboard Meeting</a>
                <a href="#" class="nav" data-pageId="12">Proportional Relationship Assignment</a>
                <a href="#" class="nav" data-pageId="13">Proportional Relationship Assignment Discussion</a>

            </li>
        </ul>

        <a class="showLinkweek3 navDisabled">Buggy Lab
            <img class="uparrow" src="{% static 'pics/uparrow.png' %}" style="display:none"/>
            <img class="downarrow" src="{% static 'pics/downarrow.png' %}" />
        </a>
        <ul class="side-nav-ul week3 navDisabled">
            <li style="list-style-type: none;">
                <a href="#" class="nav" data-pageId="23">Proportion Problems Brainstorm</a>
                <a href="#" class="nav" data-pageId="24">Buggy Lab: Collect Data</a>
                <a href="#" class="nav" data-pageId="25">Buggy Lab: Create a whiteboard</a>
                <a href="#" class="nav" data-pageId="26">Khan Academy Assignment</a>
                <a href="#" class="nav" data-pageId="27">Buggy Lab Discussion</a>
                <a href="#" class="nav" data-pageId="28">Buggy Lab: Board Meeting</a>
            </li>
        </ul>


        <a class="showLinkweek4 navDisabled">Row Boats
            <img class="uparrow" src="{% static 'pics/uparrow.png' %}" style="display:none"/>
            <img class="downarrow" src="{% static 'pics/downarrow.png' %}" />
        </a>
        <ul class="side-nav-ul week4">
            <li style="list-style-type: none;">
                <a href="#" class="nav" data-pageId="11">Row Boat Lab</a>
                <a href="#" class="nav" data-pageId="18">Discuss your Row Boat Models</a>
                <a href="#" class="nav" data-pageId="20">Slope-Intercept Form Assignment</a>
                <a href="#" class="nav" data-pageId="28">Reflect on Slope-Intercept Form Questions</a>
                <a href="#" class="nav" data-pageId="33">Let's Sum Up</a>
                <a href="#" class="nav" data-pageId="33">Cobi Needs your Help Again!</a>


            </li>
        </ul>



    </div>
