asgiref==3.3.1
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cryptography==3.4.6
Django==3.1.7
django-cors-headers==3.7.0
djangorestframework==3.12.2
idna==2.10
jsonfield==3.1.0
ndg-httpsclient==0.5.1
numpy==1.20.1
Pillow==8.1.2
pusher==3.0.0
pyasn1==0.4.8
pycparser==2.20
PyNaCl==1.4.0
pyOpenSSL==20.0.1
pytz==2021.1
requests==2.25.1
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.1
upgrade-requirements==1.7.0
urllib3==1.26.4
